@import "/style/importaciones/media";

@import "/style/importaciones/header";

@import "/style/importaciones/home";

@import "/style/importaciones/fondo";

@import "/style/importaciones/rrss";

@import "/style/importaciones/footer";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}