* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* mapas */
/* mixins */
/* Cuerpo */
body {
  background-color: #5f6368;
  /* Cuerpo */
  /* Redes Sociales */
  /* Footer */ }
  body header nav .icono-menu {
    height: 35px;
    width: 35px; }
  body header nav .logo-menu {
    height: 50%;
    width: 40%; }
  body div .titulo-home {
    padding: 0;
    margin: 0; }
  body div #video-home {
    width: 100%; }
  body .fondo {
    background-color: #191919; }
    body .fondo h1 {
      color: beige;
      padding: 5%; }
    body .fondo h3 {
      color: #5f6368; }
    body .fondo .texto-informatico {
      color: #5f6368;
      padding: 3%; }
    body .fondo .ipa-img {
      margin-left: 13%; }
    body .fondo .video-historia {
      margin-left: 13%; }
    body .fondo .cuestionario {
      height: 30px;
      width: 200px;
      border-radius: 4px;
      margin-left: 37%; }
    body .fondo .caja-comentarios {
      margin-left: 34%; }
  body section {
    background-image: url(../img/fondo-rrss.jpg);
    display: grid;
    grid-template-columns: repeat(5, 20% 20% 20% 20% 20%);
    grid-template-rows: 1fr; }
    body section div .icono-rrss {
      height: 35%;
      width: 30%;
      margin-left: 35%;
      margin-top: 10%; }
    body section div .parrafo-rrss {
      text-align: center;
      margin: 15px;
      padding: 15px;
      font-family: cursive;
      font-size: 135%;
      color: #5f6368; }
  body footer {
    background-color: #00BF8D; }
    body footer .fondo-footer {
      color: #191919;
      font-size: 100%; }
